* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:lightgreen; 
    font-family:brush script; 
    outline: none;
}
.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculator {
    background-color:black;
    padding: 16px;
    border-radius: 32px;
    box-shadow: inset 6px 6px 14px blue, 6px 6px 14px blue(0, 0, 0, 0.14px);
    display: grid;
    grid-template-columns: repeat(4, 68px);
}
input {
    grid-column: span 4;
    height: 70px;
    width: 260px;
    background-color: white;
    box-shadow: inset -6px -6px 14px blue, inset 6px 6px 14px blue(0, 0, 0, 0.16);
    border: none;
    border-radius: 30px;
    color: rgb(70, 70, 70);
    font-size: 45px;
    text-align: end;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 30px;
    padding: 20px;
}
button {
    height: 48px;
    width: 48px;
    background-color:pink;
    box-shadow: -6px -6px 14px blue, 6px 6px 15px blue(0, 0, 0, 0.16);
    border: none;
    border-radius: 50%;
    margin: 8px;
    font-size: 16px;
}
.equal {
    width: 48px;
    border-radius: 20px;
    background-color: pink;
    box-shadow: -6px -6px 14px blue, 6px 6px 15px blue(0, 0, 0, 0.16);
    border: none;
    border-radius: 50%;
    margin: 8px;
    font-size: 16px;
}

